#W
clk
nres

mem1_cs_n
mem1_addr\[.*\]
mem1_we_n
mem1_bwe_n\[.*\]
mem1_din\[.*\]
mem1_re_n
mem1_dout\[.*\]
mem1_mbist_mode\[.*\]

#E
mem2_cs_n
mem2_addr\[.*\]
mem2_we_n
mem2_bwe_n\[.*\]
mem2_din\[.*\]
mem2_re_n
mem2_dout\[.*\]
mem2_mbist_mode\[.*\]



#S
mem1_mbist_fault_C01
mem1_mbist_fault_state_C01\[.*\]
mem1_mbist_fault_addr_C01\[.*\]
mem1_mbist_fault_data_C01\[.*\]
mem1_mbist_fault_dout_C01\[.*\]
mem1_mbist_en_C01_C02
mem1_mbist_done_C01_C02
mem1_mbist_fault_C02
mem1_mbist_fault_state_C02\[.*\]
mem1_mbist_fault_addr_C02\[.*\]
mem1_mbist_fault_data_C02\[.*\]
mem1_mbist_fault_dout_C02\[.*\]

mem1_mbist_fault_C03
mem1_mbist_fault_state_C03\[.*\]
mem1_mbist_fault_addr_C03\[.*\]
mem1_mbist_fault_data_C03\[.*\]
mem1_mbist_fault_dout_C03\[.*\]
mem1_mbist_en_C03_C04
mem1_mbist_done_C03_C04
mem1_mbist_fault_C04
mem1_mbist_fault_state_C04\[.*\]
mem1_mbist_fault_addr_C04\[.*\]
mem1_mbist_fault_data_C04\[.*\]
mem1_mbist_fault_dout_C04\[.*\]

mem1_mbist_fault_C05
mem1_mbist_fault_state_C05\[.*\]
mem1_mbist_fault_addr_C05\[.*\]
mem1_mbist_fault_data_C05\[.*\]
mem1_mbist_fault_dout_C05\[.*\]
mem1_mbist_en_C05_C06
mem1_mbist_done_C05_C06
mem1_mbist_fault_C06
mem1_mbist_fault_state_C06\[.*\]
mem1_mbist_fault_addr_C06\[.*\]
mem1_mbist_fault_data_C06\[.*\]
mem1_mbist_fault_dout_C06\[.*\]

mem1_mbist_fault_C07
mem1_mbist_fault_state_C07\[.*\]
mem1_mbist_fault_addr_C07\[.*\]
mem1_mbist_fault_data_C07\[.*\]
mem1_mbist_fault_dout_C07\[.*\]
mem1_mbist_en_C07_C08
mem1_mbist_done_C07_C08
mem1_mbist_fault_C08
mem1_mbist_fault_state_C08\[.*\]
mem1_mbist_fault_addr_C08\[.*\]
mem1_mbist_fault_data_C08\[.*\]
mem1_mbist_fault_dout_C08\[.*\]

mem2_mbist_fault_C08
mem2_mbist_fault_state_C08\[.*\]
mem2_mbist_fault_addr_C08\[.*\]
mem2_mbist_fault_data_C08\[.*\]
mem2_mbist_fault_dout_C08\[.*\]
mem2_mbist_en_C07_C08
mem2_mbist_done_C07_C08
mem2_mbist_fault_C07
mem2_mbist_fault_state_C07\[.*\]
mem2_mbist_fault_addr_C07\[.*\]
mem2_mbist_fault_data_C07\[.*\]
mem2_mbist_fault_dout_C07\[.*\]

mem2_mbist_fault_C06
mem2_mbist_fault_state_C06\[.*\]
mem2_mbist_fault_addr_C06\[.*\]
mem2_mbist_fault_data_C06\[.*\]
mem2_mbist_fault_dout_C06\[.*\]
mem2_mbist_en_C05_C06
mem2_mbist_done_C05_C06
mem2_mbist_fault_C05
mem2_mbist_fault_state_C05\[.*\]
mem2_mbist_fault_addr_C05\[.*\]
mem2_mbist_fault_data_C05\[.*\]
mem2_mbist_fault_dout_C05\[.*\]

mem2_mbist_fault_C04
mem2_mbist_fault_state_C04\[.*\]
mem2_mbist_fault_addr_C04\[.*\]
mem2_mbist_fault_data_C04\[.*\]
mem2_mbist_fault_dout_C04\[.*\]
mem2_mbist_en_C03_C04
mem2_mbist_done_C03_C04
mem2_mbist_fault_C03
mem2_mbist_fault_state_C03\[.*\]
mem2_mbist_fault_addr_C03\[.*\]
mem2_mbist_fault_data_C03\[.*\]
mem2_mbist_fault_dout_C03\[.*\]

mem2_mbist_fault_C02
mem2_mbist_fault_state_C02\[.*\]
mem2_mbist_fault_addr_C02\[.*\]
mem2_mbist_fault_data_C02\[.*\]
mem2_mbist_fault_dout_C02\[.*\]
mem2_mbist_en_C01_C02
mem2_mbist_done_C01_C02
mem2_mbist_fault_C01
mem2_mbist_fault_state_C01\[.*\]
mem2_mbist_fault_addr_C01\[.*\]
mem2_mbist_fault_data_C01\[.*\]
mem2_mbist_fault_dout_C01\[.*\]



#N
mem1_mbist_fault_C09
mem1_mbist_fault_state_C09\[.*\]
mem1_mbist_fault_addr_C09\[.*\]
mem1_mbist_fault_data_C09\[.*\]
mem1_mbist_fault_dout_C09\[.*\]
mem1_mbist_en_C09_C10
mem1_mbist_done_C09_C10
mem1_mbist_fault_C10
mem1_mbist_fault_state_C10\[.*\]
mem1_mbist_fault_addr_C10\[.*\]
mem1_mbist_fault_data_C10\[.*\]
mem1_mbist_fault_dout_C10\[.*\]

mem1_mbist_fault_C11
mem1_mbist_fault_state_C11\[.*\]
mem1_mbist_fault_addr_C11\[.*\]
mem1_mbist_fault_data_C11\[.*\]
mem1_mbist_fault_dout_C11\[.*\]
mem1_mbist_en_C11_C12
mem1_mbist_done_C11_C12
mem1_mbist_fault_C12
mem1_mbist_fault_state_C12\[.*\]
mem1_mbist_fault_addr_C12\[.*\]
mem1_mbist_fault_data_C12\[.*\]
mem1_mbist_fault_dout_C12\[.*\]

mem1_mbist_fault_C13
mem1_mbist_fault_state_C13\[.*\]
mem1_mbist_fault_addr_C13\[.*\]
mem1_mbist_fault_data_C13\[.*\]
mem1_mbist_fault_dout_C13\[.*\]
mem1_mbist_en_C13_C14
mem1_mbist_done_C13_C14
mem1_mbist_fault_C14
mem1_mbist_fault_state_C14\[.*\]
mem1_mbist_fault_addr_C14\[.*\]
mem1_mbist_fault_data_C14\[.*\]
mem1_mbist_fault_dout_C14\[.*\]

mem1_mbist_fault_C15
mem1_mbist_fault_state_C15\[.*\]
mem1_mbist_fault_addr_C15\[.*\]
mem1_mbist_fault_data_C15\[.*\]
mem1_mbist_fault_dout_C15\[.*\]
mem1_mbist_en_C15_C16
mem1_mbist_done_C15_C16
mem1_mbist_fault_C16
mem1_mbist_fault_state_C16\[.*\]
mem1_mbist_fault_addr_C16\[.*\]
mem1_mbist_fault_data_C16\[.*\]
mem1_mbist_fault_dout_C16\[.*\]

mem2_mbist_fault_C16
mem2_mbist_fault_state_C16\[.*\]
mem2_mbist_fault_addr_C16\[.*\]
mem2_mbist_fault_data_C16\[.*\]
mem2_mbist_fault_dout_C16\[.*\]
mem2_mbist_en_C15_C16
mem2_mbist_done_C15_C16
mem2_mbist_fault_C15
mem2_mbist_fault_state_C15\[.*\]
mem2_mbist_fault_addr_C15\[.*\]
mem2_mbist_fault_data_C15\[.*\]
mem2_mbist_fault_dout_C15\[.*\]

mem2_mbist_fault_C14
mem2_mbist_fault_state_C14\[.*\]
mem2_mbist_fault_addr_C14\[.*\]
mem2_mbist_fault_data_C14\[.*\]
mem2_mbist_fault_dout_C14\[.*\]
mem2_mbist_en_C13_C14
mem2_mbist_done_C13_C14
mem2_mbist_fault_C13
mem2_mbist_fault_state_C13\[.*\]
mem2_mbist_fault_addr_C13\[.*\]
mem2_mbist_fault_data_C13\[.*\]
mem2_mbist_fault_dout_C13\[.*\]

mem2_mbist_fault_C12
mem2_mbist_fault_state_C12\[.*\]
mem2_mbist_fault_addr_C12\[.*\]
mem2_mbist_fault_data_C12\[.*\]
mem2_mbist_fault_dout_C12\[.*\]
mem2_mbist_en_C11_C12
mem2_mbist_done_C11_C12
mem2_mbist_fault_C11
mem2_mbist_fault_state_C11\[.*\]
mem2_mbist_fault_addr_C11\[.*\]
mem2_mbist_fault_data_C11\[.*\]
mem2_mbist_fault_dout_C11\[.*\]

mem2_mbist_fault_C10
mem2_mbist_fault_state_C10\[.*\]
mem2_mbist_fault_addr_C10\[.*\]
mem2_mbist_fault_data_C10\[.*\]
mem2_mbist_fault_dout_C10\[.*\]
mem2_mbist_en_C09_C10
mem2_mbist_done_C09_C10
mem2_mbist_fault_C09
mem2_mbist_fault_state_C09\[.*\]
mem2_mbist_fault_addr_C09\[.*\]
mem2_mbist_fault_data_C09\[.*\]
mem2_mbist_fault_dout_C09\[.*\]
