#W
mem1_cs_n
mem1_addr\[.*\]
mem1_we_n
mem1_bwe_n\[.*\]
mem1_din\[.*\]
mem1_re_n
mem1_dout\[.*\]
mem1_mbist_mode\[.*\]

#E
mem2_cs_n
mem2_addr\[.*\]
mem2_we_n
mem2_bwe_n\[.*\]
mem2_din\[.*\]
mem2_re_n
mem2_dout\[.*\]
mem2_mbist_mode\[.*\]



#S
mem1_mbist_en_C1
mem1_mbist_done_C1
mem1_mbist_fault_C1\[.*\]
mem1_mbist_fault_state_C1\[.*\]
mem1_mbist_fault_addr_C1\[.*\]
mem1_mbist_fault_data_C1\[.*\]
mem1_mbist_fault_dout_C1\[.*\]

mem1_mbist_en_C2
mem1_mbist_done_C2
mem1_mbist_fault_C2\[.*\]
mem1_mbist_fault_state_C2\[.*\]
mem1_mbist_fault_addr_C2\[.*\]
mem1_mbist_fault_data_C2\[.*\]
mem1_mbist_fault_dout_C2\[.*\]

mem1_mbist_en_C3
mem1_mbist_done_C3
mem1_mbist_fault_C3\[.*\]
mem1_mbist_fault_state_C3\[.*\]
mem1_mbist_fault_addr_C3\[.*\]
mem1_mbist_fault_data_C3\[.*\]
mem1_mbist_fault_dout_C3\[.*\]

mem1_mbist_en_C4
mem1_mbist_done_C4
mem1_mbist_fault_C4\[.*\]
mem1_mbist_fault_state_C4\[.*\]
mem1_mbist_fault_addr_C4\[.*\]
mem1_mbist_fault_data_C4\[.*\]
mem1_mbist_fault_dout_C4\[.*\]

mem2_mbist_en_C4
mem2_mbist_done_C4
mem2_mbist_fault_C4\[.*\]
mem2_mbist_fault_state_C4\[.*\]
mem2_mbist_fault_addr_C4\[.*\]
mem2_mbist_fault_data_C4\[.*\]
mem2_mbist_fault_dout_C4\[.*\]

mem2_mbist_en_C3
mem2_mbist_done_C3
mem2_mbist_fault_C3\[.*\]
mem2_mbist_fault_state_C3\[.*\]
mem2_mbist_fault_addr_C3\[.*\]
mem2_mbist_fault_data_C3\[.*\]
mem2_mbist_fault_dout_C3\[.*\]

mem2_mbist_en_C2
mem2_mbist_done_C2
mem2_mbist_fault_C2\[.*\]
mem2_mbist_fault_state_C2\[.*\]
mem2_mbist_fault_addr_C2\[.*\]
mem2_mbist_fault_data_C2\[.*\]
mem2_mbist_fault_dout_C2\[.*\]

mem2_mbist_en_C1
mem2_mbist_done_C1
mem2_mbist_fault_C1\[.*\]
mem2_mbist_fault_state_C1\[.*\]
mem2_mbist_fault_addr_C1\[.*\]
mem2_mbist_fault_data_C1\[.*\]
mem2_mbist_fault_dout_C1\[.*\]



#N
mem1_mbist_en_C5
mem1_mbist_done_C5
mem1_mbist_fault_C5\[.*\]
mem1_mbist_fault_state_C5\[.*\]
mem1_mbist_fault_addr_C5\[.*\]
mem1_mbist_fault_data_C5\[.*\]
mem1_mbist_fault_dout_C5\[.*\]

mem1_mbist_en_C6
mem1_mbist_done_C6
mem1_mbist_fault_C6\[.*\]
mem1_mbist_fault_state_C6\[.*\]
mem1_mbist_fault_addr_C6\[.*\]
mem1_mbist_fault_data_C6\[.*\]
mem1_mbist_fault_dout_C6\[.*\]

mem1_mbist_en_C7
mem1_mbist_done_C7
mem1_mbist_fault_C7\[.*\]
mem1_mbist_fault_state_C7\[.*\]
mem1_mbist_fault_addr_C7\[.*\]
mem1_mbist_fault_data_C7\[.*\]
mem1_mbist_fault_dout_C7\[.*\]

mem1_mbist_en_C8
mem1_mbist_done_C8
mem1_mbist_fault_C8\[.*\]
mem1_mbist_fault_state_C8\[.*\]
mem1_mbist_fault_addr_C8\[.*\]
mem1_mbist_fault_data_C8\[.*\]
mem1_mbist_fault_dout_C8\[.*\]

clk
nres

mem2_mbist_en_C8
mem2_mbist_done_C8
mem2_mbist_fault_C8\[.*\]
mem2_mbist_fault_state_C8\[.*\]
mem2_mbist_fault_addr_C8\[.*\]
mem2_mbist_fault_data_C8\[.*\]
mem2_mbist_fault_dout_C8\[.*\]

mem2_mbist_en_C7
mem2_mbist_done_C7
mem2_mbist_fault_C7\[.*\]
mem2_mbist_fault_state_C7\[.*\]
mem2_mbist_fault_addr_C7\[.*\]
mem2_mbist_fault_data_C7\[.*\]
mem2_mbist_fault_dout_C7\[.*\]

mem2_mbist_en_C6
mem2_mbist_done_C6
mem2_mbist_fault_C6\[.*\]
mem2_mbist_fault_state_C6\[.*\]
mem2_mbist_fault_addr_C6\[.*\]
mem2_mbist_fault_data_C6\[.*\]
mem2_mbist_fault_dout_C6\[.*\]

mem2_mbist_en_C5
mem2_mbist_done_C5
mem2_mbist_fault_C5\[.*\]
mem2_mbist_fault_state_C5\[.*\]
mem2_mbist_fault_addr_C5\[.*\]
mem2_mbist_fault_data_C5\[.*\]
mem2_mbist_fault_dout_C5\[.*\]
